#others{
  text-color: red;
  color: green;
}

.banner{
  margin-top: 185px;
}

.main-btn {
  text-center;
}

.other-btn {
  box-shadow:0 0 0 1em black;
}

img.center {
  display: block;
  margin: 0 auto;
  border-bottom: 50px;
}

.main {
  margin-top: 120px;
  padding: 40px;
  color: white;
}

.main2 {
  font-size: 58px;
}

.logo {
  font-size: 38px;
  color: white;
}

.bg {
  background-color: black;
}

.content{
  position: absolute;
  padding-right: 10px;
  top: 0px;
  right:0px;
  font-size: 25px;
  color: white;
}
