<div class="container">
    <!-- displaying firebase 'content'  -->
    <!-- <div class="content"></div> -->

    <div class="row">
      <div class="col-6 text-center">
        <h2 class="logo">Punchline</h2>
        <img src="assets/main_logo.png" alt="smiley" class="center">
        <br />
        <h2>Joke Flavors</h2>
        <br />
        <h3>Select the kind of humor that tickles your funny bone</h3>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 text-center">
          <button ng-click="tab = 1" ng-hide="tab === 1" class="btn btn-success btn-lg btn-block">Slapstick</button>
          <button ng-click="tab2 = 2" ng-hide="tab2 === 2" class="btn btn-success btn-lg btn-block">Kid Friendly</button>
          <button ng-click="tab3 = 3" ng-hide="tab3 === 3" class="btn btn-success btn-lg btn-block">Dirty</button>

        </div>
        <div class="col-xs-6 text-center">
          <button ng-click="tab4 = 4" ng-hide="tab4 === 4" class="btn btn-success btn-lg btn-block">Dark Humor</button>
          <button ng-click="tab5 = 5" ng-hide="tab5 === 5" class="btn btn-success btn-lg btn-block">Politics</button>
          <button ng-click="tab6 = 6" ng-hide="tab6 === 6" class="btn btn-success btn-lg btn-block">Insults</button>

        </div>
      </div>
      <br />
      <button ui-sref="matches" class="btn btn-danger btn-lg btn-block">Finished!</button>
    </div>
</div>
