<div class="container">
    <!-- displaying firebase 'content'  -->
    <!-- <div class="content"></div> -->

    <div class="row">
      <div class="col-6 text-center">
        <h2 class="logo">Punchline</h2>
        <img src="assets/main_logo.png" alt="smiley" class="center">
        <br />
        <h2>Joke Flavors</h2>
        <br />
        <h3>Select the kind of humor that tickles your funny bone</h3>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 text-center">
          Test
        </div>
        <div class="col-xs-6 text-center">
          Test 2
        </div>
      </div>
    </div>

    <button ui-sref="createjokes" class="btn btn-success btn-lg btn-block">Save</button>
</div>
