<!-- <nav class="">
    <a href="index.html" class="logo">
        <img src="" alt="punchline logo">
    </a>
    <div class="links-container">
        <a href="" class="navbar-link"></a>
    </div>
</nav> -->
<div style="background-color: black" class="main">
    <h2 class="text-center main2">Welcome to</h2>
    <h1 class="text-center main2">Punchline</h1>
    <img src="assets/main_logo.png" alt="smiley" class="center">
  </div>

<section class="">
    <h1 class="">Punchline</h1>
    <button ui-sref="registration" class="text-center other-btn btn-secondary btn-lg btn-block">Sign Up</button>
    <button ui-sref="registration" class="text-center main-btn btn-danger btn-lg btn-block">Sign In</button>

</section>
