
<h2 class="text-center">Find A Contender</h2>

  <div ng-controller="userCtrl" id="other-font">
    <ul class="content2" id="other-font">
      <li><img src="assets/avatar1.png"/></li>
      <li>{{firebaseUser.email}}</li>
      <li> 22 pts</li>
    </ul>

  </div>

  <div align="center" style="margin-top:150px;">
    <div class="container">
      <div class="second-circle">
        <button id="pulser" class="pulse-button" onclick="timedRedirect()">Start Search</button>
      </div
    </div>
  </div>

<script type="text/javascript">

  $('button').click(function(){
    console.log('clicked');
    $('#pulser').addClass('pulse-button2')
  });

  redirectTime = "5000";
  redirectURL = "/bot";
  function timedRedirect(){
    setTimeout("location.href = redirectURL;" , redirectTime);
  }
</script>
