<h2 class="text-center">Find Contender</h2>

  <div ng-controller="userCtrl" id="other-font">
    <ul class="content2" id="other-font">
      <li><img src="assets/avatar1.png"/></li>
      <li>{{firebaseUser.email}}</li>
      <li> 22 pts</li>
    </ul>

  </div>

  <div align="center" style="margin-top:70px;">
    <div class="container">
        <button id="pulser" class="pulse-button"></button>
    </div>
  </div>

<script type="text/javascript">
  $('button').click(function(){
    console.log('clicked');
    $('#pulser').addClass('pulse-button2')
  });
</script>
