<div class="container">
    <div class="content"></div>
    <!-- should move this portion to index since it shows up a couple of times -->
    <div class="row">
      <div class="col-6 text-center">
        <h2 class="logo">Punchline</h2>
        <img src="assets/main_logo.png" alt="smiley" class="center">
      </div>
      <div class="text-center form-stuff" ng-controller="userCtrl">
        <div id="other-font">
          Email: <input type="text" ng-model="email" placeholder="Email" id="form-text">
          Password: <input type="text" ng-model="password" placeholder="Password" id="form-text">
        </div>

        <br />

        <button ng-click="createUser()">Sign Up</button>

        <br />
        <div id="other-font">
          <p ng-if="message">Message: <strong>{{message}}</strong></p>
          <p ng-if="error">Error: <strong>{{error}}</strong></p>
        </div>
    </div>


      <!-- <input id="txtEmail" type="email" placeholder="Email">
      <input id="txtPassword" type="password" placeholder="Password">
      <button id="btnLogin" class="btn btn-action text-center">Log in</button>
      <button id="btnSignUp" class="btn btn-secondary text-center">Sign up</button>
      <button id="btnLogout" class="btn btn-action hide text-center">Log out</button> -->
    <!-- </div> -->
    <button ui-sref="user" class="btn-danger btn-lg btn-block text-center" type="button">NEXT</button>
  </div>
