<div class="container" ng-controller="userCtrl">
  <div class="row">
    <div class="col-6 text-center" ng-controller="userCtrl">
      <div ng-show="firebaseUser">
        <h2>Introducing...</h2>
        <h2>{{ firebaseUser.email }}</h2>
        <!-- This will redirect back to the first page -->
        <!-- need to write function for this -->
        <!-- <button ng-click="auth.$signOut()">Sign Out</button> -->
      </div>

      <!-- <h3>Choose your avatar</h3>
      <input ng-click="saveEntry()" ng-model="poll.name" type="image" src="assets/avatar1.png" name="" class="" id="" />
      <input ng-click="saveEntry()" ng-model="poll.name" type="image" src="assets/avatar2.png" name="" class="" id="" />
      <input ng-click="saveEntry()" ng-model="poll.name" type="image" src="assets/avatar3.png" name="" class="" id="" />
      <input ng-click="saveEntry()" ng-model="poll.name" type="image" src="assets/avatar4.png" name="" class="" id="" />
      <input ng-click="saveEntry()" ng-model="poll.name" type="image" src="assets/avatar5.png" name="" class="" id="" /> -->

      <div class="row">
        <div class="col">
          <h4>Display Name and Avatar</h4>
          <h4>Fly weight     +0 pts.</h4>
        </div>
      </div>
    </div>
      <div ng-controller="iconCtrl">
        <h3>Choose your avatar</h3>
        <input ng-click="add()" ng-model="user.image" type="image" src="assets/avatar1.png" name="" class="" id="" />
        <input ng-click="add()" ng-model="user.image" type="image" src="assets/avatar2.png" name="" class="" id="" />
        <input ng-click="add()" ng-model="user.image" type="image" src="assets/avatar3.png" name="" class="" id="" />
        <input ng-click="add()" ng-model="user.image" type="image" src="assets/avatar4.png" name="" class="" id="" />
        <input ng-click="add()" ng-model="user.image" type="image" src="assets/avatar5.png" name="" class="" id="" />

        {{icons}}

<!--TODO: need ng-submit="functionName()"  -->
<!-- THEN MAKE THESE TABS WHICH MAKES THEM APPEAR AND DISAPPEAR FROM CODESCHOOL -->
<!-- THIS IS POSSIBLY TO SAVE JOKES -->
        <!-- anything typed in here is magically saved to our Firebase database! -->
        <!-- <input type="text" ng-model="data.text" id="form-text"/>
        <!-- all changes from our Firebase database magically appear here! -->
        <!-- <h1>You said: {{ data.text }}</h1> -->
        <!-- <a ui-sref="filters" class="btn btn-success btn-lg btn-block">Done</a> -->

      </div>
  </div>
</div>
