<div class="container">
  <div class="row">
    <div class="col-6 text-center">
      <h2>Introducing...</h2>
      <!-- Need to get username from email form -->
      <h2>
        <div class="content"></div>
      </h2>
      <h3>Choose your avatar</h3>
      <input type="image" src="assets/avatar1.png" name="" class="" id="" />
      <input type="image" src="assets/avatar2.png" name="" class="" id="" />
      <input type="image" src="assets/avatar3.png" name="" class="" id="" />
      <input type="image" src="assets/avatar4.png" name="" class="" id="" />
      <input type="image" src="assets/avatar5.png" name="" class="" id="" />

      <div class="row">
        <div class="col">
          <h4>Display Name and Avatar</h4>
          <h4>Fly weight     +0 pts.</h4>
        </div>
      </div>
    </div>
    <a ui-sref="filters" class="btn btn-success btn-lg btn-block">Done</a>

  </div>
</div>
